@tailwind base;
@tailwind components;
@tailwind utilities;
.horizontal .gutter {
  height: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter {
  background-color: #5e5d5d;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100%;
}

.vertical .gutter {
  width: 100%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.titlebar {
  -webkit-app-region: drag;
  position: sticky;
  top: 0;
  z-index: 9999;
}

button {
  -webkit-app-region: no-drag;
}
